
{% load static %}


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand logo" href="#"><img src="{% static 'images/bookmy.png' %}" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <form class="d-flex" role="search"></form> 
          <input class="form-control me-2 box" type="search" placeholder="Search for Movies Events, Plays, Sports and Activities"  aria-label="Search">
           </form> 
              
        
       
          <li class="nav-item">
            <a class="nav-link active ad" aria-current="page" href="{% url 'register' %}">AddMovies</a>
          </li>          
           <button class="btn btn-danger sgn" type="submit">sign in</button>
           
           <a class=" of"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="{% static 'images/icons8-news-feed-50.png' %}"></a>
        </ul>
   
        <!-- 
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  
  
  
  
  
  
  
 <!-- second navbar -->
  
  
  
  
  
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Streams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Plays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sports</a>
          </li>
        </ul>
          
        </div>
       
        
      </div>
    </div>
  </nav>